---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import TagList from "../../components/TagList.astro";
import SubscriptionForm from "../../components/updates/SubscriptionForm.astro";

const updates = (
  await getCollection("updates", (update) => !update.data.unlisted)
).toSorted((elementA, elementB) => {
  return (
    elementB.data.created_at.valueOf() - elementA.data.created_at.valueOf()
  );
});
---

<Layout>
  <SubscriptionForm />
  <ol class="flex flex-col gap-4">
    {
      updates.map((update) => {
        return (
          <li class="m-0 flex flex-col items-center rounded-xl bg-white drop-shadow-purple">
            <article class="flex w-full flex-col gap-2 px-8 pb-12 pt-10 sm:px-14">
              <date
                class="text-base text-slate-500"
                style="font-variant: small-caps;"
              >
                {update.data.created_at.toLocaleString("en", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
              </date>
              <h2 class="mb-1 mt-1 font-hatch text-fujo-pink">
                <a
                  href={`/updates/${update.slug}`}
                  set:html={update.data.title}
                  class="!not-italic !text-fujo-pink !no-underline"
                />
              </h2>

              {update.data.tagline && (
                <p class="tagline">{update.data.tagline}</p>
              )}
              {!!update.data.tags.length && <TagList tags={update.data.tags} />}
            </article>
          </li>
        );
      })
    }
  </ol>
</Layout>
