---
import { Icon } from "astro-icon/components";
---

<div
  class="inbox-card relative mx-auto mb-8 mt-4 flex w-full max-w-xl flex-col items-center gap-4 rounded-xl bg-gradient-to-b from-[#260F56] to-[#4D2E91] px-6 py-6 text-center font-macho text-white"
>
  <p class="text-md font-zeitung font-semibold text-fujo-green">
    > Get 'em in your inbox
  </p>
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/fujocoded"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/fujocoded', 'popupwindow')"
    class="subscription-form flex w-full max-w-md flex-col gap-2 sm:flex-row sm:gap-0 sm:rounded-full sm:border-2 sm:border-white/30"
  >
    <input
      type="email"
      name="email"
      id="bd-email"
      aria-label="email"
      placeholder="boba-tan@fujocoded.com"
      required="true"
      class="email-input h-11 w-full flex-1 self-center rounded-full border border-white/30 px-6 py-1 text-black placeholder:italic focus:outline-none sm:rounded-l-full sm:rounded-r-none sm:border-0 sm:px-5"
    />
    <input
      type="submit"
      value="Subscribe"
      class="button-links h-9 w-full rounded-full bg-gradient-to-b from-[#CE00FF] to-[#A700CF] px-5 text-center font-hatch text-sm font-medium text-white sm:h-11 sm:w-auto sm:rounded-l-none sm:rounded-r-full sm:pl-4 sm:pr-5 sm:text-lg"
    />
  </form>
  <p class="text-md flex items-center justify-center gap-2 text-white">
    Too many emails?
    <a
      href="https://twitter.com/fujoc0ded"
      class="!text-white hover:!text-fujo-pink"
      ><Icon name="simple-icons:twitter" /></a
    >
    <a
      href="https://www.tumblr.com/fujocoded"
      class="!text-white hover:!text-fujo-pink"
      ><Icon name="simple-icons:tumblr" /></a
    >
    <a
      href="https://bsky.app/profile/fujocoded.bsky.social"
      class="!text-white hover:!text-fujo-pink"
      ><Icon name="simple-icons:bluesky" /></a
    >
    <a
      href="https://blorbo.social/@fujocoded"
      class="!text-white hover:!text-fujo-pink"
      ><Icon name="simple-icons:mastodon" /></a
    >
  </p>
</div>

<style>
  .email-input:focus {
    box-shadow: 0 0 0 2px rgba(255, 105, 180, 0.4);
  }

  @media (min-width: 640px) {
    .email-input:focus {
      box-shadow: none;
    }
    .subscription-form:focus-within {
      box-shadow: 0 0 0 2px rgba(255, 105, 180, 0.5);
    }
  }

  .inbox-card::before {
    /* background: linear-gradient(180deg, #ff21e9 0%, #4360f7 100%); */
    background: radial-gradient(circle at center, #ff21e9, #4360f7);
    background-size: 500% 500%;
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    z-index: -1;
    /* @apply rounded-xl; */
    border-radius: calc(0.75rem + 3px);
  }

  @media (prefers-reduced-motion: no-preference) {
    .inbox-card::before {
      animation: gradient 12s ease infinite;
    }

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
</style>
