---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Error from "../images/error.png";


const description =
  "The page you are looking for could not be found. Please check the URL and try again.";
---

<Layout title="404: Not Found - FujoCoded LLC" description={description}>
  <article class="rounded-xl bg-white drop-shadow-purple">
    <Image src={Error} alt="Boba-tan in her fursuit crawling around looking for her glasses" />
    <h1><em>Oops!</em> This page could not be found.</h1>
  </article>
  <style>
    img {
      filter: hue-rotate(210deg) brightness(80%) contrast(150%);
      margin: 2rem 0 4rem;
    }
  </style>
</Layout>
