---
import Layout from "../layouts/Layout.astro";

const description =
  "The page you are looking for could not be found. Please check the URL and try again.";
---

<Layout title="404: Not Found - FujoCoded LLC" description={description}>
  <article class="rounded-xl bg-white drop-shadow-purple">

    <h1><em>Oops!</em> This page could not be found.</h1>
    <img src="https://bobaboard.com/nasty.png">
  </article>
</Layout>
