---
import MissionTerminal from "../components/MissionTerminal.astro";
import TeamCard from "../components/team/TeamCard.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const team = await getCollection("team");
---

<Layout>
  <article>
    <h2>About us</h2>
    <MissionTerminal />
    <section>
      <h3>The Vision</h3>
      <p>
        Our mission is to use all we’ve learned throughout the years and skills
        at our disposal to build a kinder, more diverse, more collaborative–and,
        yes, more weird!–internet. We know a goal this ambitious cannot be
        carried forward alone. Instead, we work with members of niche
        communities to turn them into the leaders that will shape the web of the
        future. We do this by fostering high-quality spaces for learning and
        collaboration, promoting the adoption of open and decentralized
        technologies, and identifying emerging tools that lower the barrier of
        entry into programming (as well as creating some tools ourselves [link
        to projects page]). Then, we hire the most promising people in our
        communities to help us support our monetized projects, and give them
        their first boost in a increasingly harder to access tech work.
      </p>
    </section>
    <section>
      <h3>Why now</h3>
      <p>
        A new era of the web is coming. Web development technologies grow more
        powerful and accessible every day; decentralized social networks
        continue to gain steam; technical institutions that a few years ago
        seemed unstoppable are crumbling as people yearn for change.
      </p>
      <p>
        As the online world struggles to be reborn, this is the time to seize
        the occasion and make sure that the people that are part of the
        conversation of what the next web should look like are not the same ones
        that got to discuss this before. To do this we work with and create for
        marginalized subcultures to help them build their technical chops and
        learn more about web development and building software.
      </p>
    </section>
    <section>
      <h3>Why us</h3>
      <p>
        We have dedicated the past 3 years to building software and
        relationships within fandom communities, and exploring the issue of
        online spaces, indie software efforts, and decentralized technologies.
        Thanks to this experience, we deeply understand what stands in the way
        of aspiring web builders and better online communities.
      </p>
      <p>
        Our founder, contractors, and community contributors have a vast variety
        of experience in everything from building large-scale software
        applications, to moderation, to community building, to managing open
        source projects, to decentralized technologies, to technical (and
        non-technical) writing. You can see some of what we’ve built until now
        on our projects page [link].
      </p>
    </section>
    <section>
      <h2>Our Team</h2>
      <section>
        <h3>Founder</h3>
        {
          team
            .filter((member) => member.data.type == "founder")
            // @ts-ignore
            .map((member) => <TeamCard {...member.data} />)
        }
      </section>
      <section>
        <h3>Contractors</h3>
        <div>
          These are people we've hired throughout the years to help us advance
          our mission.
        </div>
        {
          team
            .filter((member) => member.data.type == "contractor")
            // @ts-ignore
            .map((member) => <TeamCard {...member.data} />)
        }
      </section>
      <section>
        <h3>Community Contributors</h3>
        {
          team
            .filter((member) => member.data.type == "community")
            // @ts-ignore
            .map((member) => <TeamCard {...member.data} />)
        }
      </section>
    </section>
  </article>
</Layout>
