---
import MissionTerminal from "../components/MissionTerminal.astro";
import TeamCard from "../components/team/TeamCard.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const team = await getCollection("team");
---

<Layout>
  <article class="rounded-xl bg-white">
    <h1>About <em>FujoCoded, LLC</em></h1>
    <section>
      <p>
        FujoCoded, LLC's mission is to build a kinder, more diverse, more
        collaborative–and, yes, <em>more weird</em>!–internet. To this end, we
        leverage our experience living the web from within fandom communities
        (and the many skills at our disposal) to devise engaging ways to help
        people take charge of their online world.
      </p>
      <p>
        Our work focuses on:
        <ul class="list-disc pl-6">
          <li>
            <strong>Education</strong>, which gives people the skills they need
            to lead the change they want to see.
          </li>
          <li>
            <strong>Software,</strong> which gives people the tools and opportunities
            to make these changes.
          </li>
          <li>
            <strong>Community</strong>, which gives people the strength and
            support they need to see those changes through.
          </li>
        </ul>
      </p>
      <p>
        Among the many things we do, we foster high-quality spaces for learning
        and collaboration, promote the adoption of open and decentralized
        technologies, and identify emerging tools that are a good fit for the
        needs of fannish programmers (as well as <a href="/projects"
          >creating some of these ourselves</a
        >).
      </p>
      <p>
        In addition to all this, we identify individuals in our larger community
        with the potential to become leaders in their own right, and provide
        them with the resources and mentorship they need to succeed.
      </p>
    </section>
    <details
      class="relative z-10 mt-7 w-full rounded-xl bg-gradient-to-b from-[#260F56] to-[#4D2E91] p-5 text-white"
    >
      <summary class="cursor-pointer text-[20px] font-bold text-fujo-pink"
        >Why do this now?</summary
      >
      <p class="mt-4">
        A new era of the web is approaching: web development technologies grow
        more powerful and accessible every day; decentralized social networks
        continue to gain steam; technical institutions that a few years ago
        seemed unstoppable are crumbling as people yearn for change.
      </p>
      <p>
        As the online world struggles to be reborn, this is the time to seize
        the occasion and make sure that the people that are part of the
        conversation of what the next web should look like are not the same ones
        that got to discuss this before. To do this we work with and create for
        marginalized subcultures to help them build their technical chops and
        learn more about web development and building software.
      </p>
    </details>
    <section>
      <h2>Our Team</h2>
      <p>
        We have dedicated the past 3 years to building software and
        relationships within fandom communities, and exploring the issue of
        online spaces, indie software efforts, and decentralized technologies.
        Thanks to this experience, we deeply understand what stands in the way
        of aspiring web builders and better online communities.
      </p>
      <p>
        Our founder, contractors, and community contributors have a vast variety
        of experience in everything from building large-scale software
        applications, to moderation, to community building, to managing open
        source projects, to decentralized technologies, to technical (and
        non-technical) writing. You can see some of what we’ve built until now
        <a href="/projects">on our projects page</a>.
      </p>
      <section>
        <h3>Founder</h3>
        {
          team
            .filter((member) => member.data.type == "founder")
            // @ts-ignore
            .map((member) => <TeamCard {...member.data} />)
        }
      </section>
      <section>
        <h3>Contractors</h3>
        <div>
          These are people we've hired throughout the years to help us advance
          our mission.
        </div>
        {
          team
            .filter((member) => member.data.type == "contractor")
            // @ts-ignore
            .map((member) => <TeamCard {...member.data} />)
        }
      </section>
      <section>
        <h3>Community Contributors</h3>
        {
          team
            .filter((member) => member.data.type == "community")
            // @ts-ignore
            .map((member) => <TeamCard {...member.data} />)
        }
      </section>
    </section>
  </article>
</Layout>

<style>
  details::before {
    /* background: linear-gradient(180deg, #ff21e9 0%, #4360f7 100%); */
    background: radial-gradient(circle at center, #ff21e9, #4360f7);
    background-size: 500% 500%;
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -2;
    /* @apply rounded-xl; */
    border-radius: calc(0.75rem + 1px);
    animation: gradient 15s ease infinite;
  }
  details::after {
    @apply bg-gradient-to-b from-[#260F56] to-[#4D2E91];
    background-size: 500% 500%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* @apply rounded-xl; */
    border-radius: calc(0.75rem + 1px);
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
