---
import FujoshiTerminal from "../components/FujoshiTerminal.astro";
import Layout from "../layouts/Layout.astro";
import Browser from "../components/Browser.astro";
import { getCollection } from "astro:content";
import FujoCard from "../components/fujoshi/FujoCard.astro";

const fujin = (await getCollection("fujin")).toSorted(
  (a, b) => a.data.order - b.data.order
);
---

<Layout>
  <article class="rounded-xl bg-white">
    <h1>What is a fujoshi?</h1>
    <p>
      <span class="text-fujo-pink">Fujoshi</span> (lit. "rotten woman") is a pejorative
      name given to Japanese fans of <abbr title="Boys Love" class="cursor-help"
        >BL</abbr
      > media for going against social expectations of femininity. In the early 2000s,
      as the popularity of anime and manga soared internationally, online BL spaces
      became a worldwide haven for (often female, queer, and/or neurodivergent) millennials
      seeking to explore their sexuality outside of normative constraints. This has
      led to the term being adopted more widely.
    </p>
    <p>
      In recent years, <span class="text-fujo-pink">fujoshi</span> has been reclaimed
      by fans of the genre. The <span class="text-fujo-pink">fujin</span> variant
      (lit. "rotten person") is becoming popularized alongside it to accurately represent
      the diversity of the community.
    </p>

    <h2>Fujoshi today</h2>
    <p>
      <strong>
        <span class="text-fujo-pink">Fujoshi</span> (or, more inclusively, <em
          >fujin</em
        >) have always been an integral part of online and offline fandom
        ecosystems.</strong
      > Despite being historically reviled, their creativity and passion for their
      favorite series often drive the success of <a
        href="https://twitter.com/Rune_Sa_Riik/status/1734951399299953099"
        >popular</a
      >
      <a href="https://twitter.com/headfallsoff/status/1771262665937031395"
        >franchises</a
      >–a fact that is only now beginning to be <a
        href="https://twitter.com/danhengussy/status/1746988953985851475"
      >
        more widely recognized</a
      >.
    </p>
    <p>
      Overall, fujin are a highly diverse group of loosely-aligned folks brought
      together by their shared love of queer, fictional relationships.
      Online-minded folks can think of them as the cousins of the furry
      subculture, with whom they share similar challenges, including
      stigmatization and censorship. Rather than creating works focused on
      anthropomorphized animals, fujin center their own stories, art, comics,
      and complex worldbuilding around fictional relationships from pre-existing
      media— often between men, but with other gender expressions on the rise
      alongside them.
    </p>
    <p>
      In our own conception, and with the evolving face of the community within
      an increasingly sex-negative web, being a fujin has morphed into a
      specific way of doing fandom. <strong
        >Fujin freely, joyfully, and
        <em>unapologetically</em> share their socially-stigmatized hyperfixations
        with each other, no matter how "rotten" society might consider them to be.</strong
      > They are the often queer, kinky, neurodivergent, and disabled
      <em>id</em> of the internet— frequently weird, sometimes perplexing, but overall
      harmless and full of unbridled passion.
    </p>
    <h2>Why <em>Fujo</em>Coded?</h2>
    <p>
      Since the start, we've closely aligned our work with the <a
        href="https://fanlore.org/wiki/Transformational_Fandom"
        >transformational fandom</a
      > and <a href="https://fanlore.org/wiki/Shipping">shipping</a> communities.
      While we remain deeply embedded within them, we're making our connection to
      the <span class="text-fujo-pink">fujin</span> community explicit for a few
      reasons:
    </p>
    <ul class="list-disc pl-6">
      <li>
        <strong
          >Fujin better conveys the millenial viewpoint of our founder and other
          members of our community.</strong
        > While our contributors span many ages, our work is inexorably linked to
        the experience of growing up (and learning to "ship") in the web of the early
        2000s.
      </li>
      <li>
        As traditional fandom activities (like writing fanfiction or drawing
        fanarts) have become more mainstream, they've stopped carrying the
        stigma they did in the past— at least on their own. However, <strong
          >the stigma against fujin, more closely associated with explicit,
          kinky and queer works, remains strong</strong
        >.
      </li>
      <li>
        For years, the fujin community has been one of the canaries in the
        coalmine for problems now widespread in the online world. For example,
        <strong
          >recent backlash against western fujin has been often led by <a
            href="https://www.fujoshi.info/anti-fujoshi"
            >transphobic and sex-negative groups</a
          ></strong
        >.
      </li>
    </ul>
    <p>
      Regardless of the term we use, our work remains inclusive of any online
      subculture which celebrates the freedom to be yourself on the internet—
      even outside societal norms. We use fujoshi as a stand-in term for
      harmless online weirdos who just want to do their own thing in their
      corner, whether that is intensely shipping two or more fictional
      characters, obsessively collecting random facts about their favorite
      series, or participating in communal practices that may be hard to
      understand from the outside.
    </p>
    <h2>Famous fujin</h2>
    <div>
      As an underground subculture, fujin are rarely open about their
      involvement in the community. However, here's a small list of fujin you
      may have heard about before:
    </div>
    <ul class="mt-6 justify-center gap-4 md:grid md:grid-cols-2">
      {
        fujin.map((fujin) => (
          <li>
            <FujoCard {...fujin.data} />
          </li>
        ))
      }
    </ul>
  </article>
</Layout>

<style>
  strong {
    font-weight: 600;
  }
</style>
