---
import FujoshiTerminal from "../components/FujoshiTerminal.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article>
    <h2 class="font-hatch italic text-fujo-purple text-[34px]">
      About <em class="text-white drop-shadow-lg shadow-fujo-purple">Fujoshi</em
      >
    </h2>
    <FujoshiTerminal />
    <!-- <section>
      <h3 class="font-hatch italic text-fujo-purple text-large">
        The History of Fujoshi
      </h3>
      <p>
        Fujoshi (lit. "rotten woman") is a pejorative name given to fans of <abbr
          title="Boys Love">BL</abbr
        >
        for not meeting the social expectations imposed on women. In the early 2000s,
        BL reached international popularity on the web, becoming a space for often
        female, queer, and neurodivergent millennials seeking to explore their sexuality
        outside of the normative constraints of society. In recent years, the term
        "fujoshi" has been reclaimed by fans of the genre, with the fujin variant
        (lit. "rotten person") gaining popularity as a way to more correctly represents
        the diversity of this community.
      </p>
    </section> -->
    <section>
      <h3>Fujoshi today</h3>
      [add the image of the intersection]
      <p>
        Fujoshis are the backbone that online fandoms are built upon. It is a
        highly diverse group of loosely-aligned folks that are often the hidden
        backbone of media fandom. While historically (and globally) reviled,
        Fujoshi have persevered in their ways, carrying series to success and
        creating some of the best content on the web, while seeing their own
        contributions denigrated and diminished, and fielding attacks by other
        groups.
      </p>
      <p>
        If you struggle to understand fujoshi as their own culture: you can
        think of them as the cousins of furries. Rather than dressing up in
        costumes (most of the time), we write fanfiction and discuss fictional
        characters. We generally focus on shipping fictional characters–often
        men, but with other gender expressions on the rise alongside them.
      </p>
      <p>
        While historically tied to BL, being a fujin these days is, in our own
        conception, a specific way of interacting with media and fandom, taking
        a transformative approach to media and freely, joyfully, and
        <em>unapologetically</em> sharing your socially-perplexing hyperfixation
        with exploring fictional relationship with others on the web. Overall, fujin
        are the queer, kinky, neurodivergent "id" of the internet–often weird, but
        overall harmless.
      </p>
      <section>
        <h3>Why Fujin?</h3>
        <p>
          In the past, we've closely aligned our work with the "transformative
          fandom"/shipping community. While our target overall hasn't changed,
          we've decided to more explicitly focus on the fujin community for a
          few reasons:
        </p>
        <ul>
          <li>
            As transformative fandom become more mainstream, being the type of
            fan that writes fanfiction or draws fanarts (or any other popular
            shipping activity) has stopped carrying the stigma it did in the
            past. However, the stigma against Fujin remains strong.
          </li>
          <li>
            Fujin, like transformative fandom, have been the canaries in the
            coalmine for some of the issues that have recently become more
            widespread in online communities. Since its inception, Fujin culture
            has been denigrated and dismissed. Especially in modern times, the
            backlash against Fujin has been driven by transphobic anti-LGBT
            groups and subjected to attack by conservative and sex-negative
            groups.
          </li>
          <li>
            Fujin better represents the "millenial viewpoint" of our founder and
            other members of our community. While we have members of all ages,
            our work is inexorably tied to the experiences of those who grew up
            (and learned to ship) in the web of the early 2000s.
          </li>
        </ul>
        <p>
          Regardless of the term we use, our work remains broadly applicable and
          inclusive of any type of online subculture that celebrates the freedom
          to be yourself on the internet, even outside of the norms of society.
          We’re using fujoshi as a stand-in term for a type of inoffensive
          online weirdo that just wants to be weird and do their own thing in
          their corner, whether that is intensely shipping two or more fictional
          characters, obsessively collecting random facts about their favorite
          series, or participating in a subculture that may be hard to
          experience outside of the norm.
        </p>
        <section>
          <h2>Famous Fujin</h2>
          <div>
            As an often-denigrated, underground subculture, fujin are rarely
            open about their involvement in the community. However, here's a
            small list of fujin you may have heard about before.
          </div>
          <ul>
            <li>CLAMP</li>
            <li>Megan Thee Stallin</li>
            <li>The french politician</li>
            <li>Hideo Kojima</li>
          </ul>
        </section>
      </section>
    </section>
  </article>
</Layout>
