---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import we_want_you from "../images/we_want_you.png";
import SubscriptionForm from "../components/SubscriptionForm.astro";

const description =
  "FujoCoded LLC builds projects that make the internet weirder and kinder. Help us by supporting us on our Patreon and store!";
---

<Layout description={description}>
  <article class="rounded-xl bg-white drop-shadow-purple">
    <h1>Paid Opportunities: You can help!</h1>

    <p class="text-pretty">
      <strong
        >FujoCoded LLC periodically creates small-gig opportunities for people
        to pitch in and get paid!</strong
      > While—<em></em>for full disclosure—we currently operate at loss with a
      limited budget, these are great opportunities to work on something
      meaningful, stretch your wings, and (we're told) have a great time. <strong
        >Non-professionals are encouraged to apply!</strong
      >
    </p><p>
      If you're interested in throwing your <a
        href="https://store.fujocoded.com/products/paddles">yaoi paddle</a
      > in the ring, <strong>
        fill out the forms below 👇 and we'll be in touch when a good match
        shows up.</strong
      > We work with folks from all over the world, so don't hesitate!
    </p>

    <Image
      src={we_want_you}
      alt="A poster showing Boba-tan gleeful in front of fire and under a shower of money, in a very shiny suit jacket and sunglasses doing finger guns and saying 'FujoCoded needs your help!'"
      class="w-xl mx-auto py-8"
    />
    <a href="#hiring-right-now"
      ><h2 id="hiring-right-now">"Hiring Right Now" Form</h2></a
    >
    <p>
      This new, experimental form is to express interest AND availability for <u
        >a specific open opportunity</u
      > if you:
    </p>
    <ul class="with-discs">
      <li>
        Have already filled the out the <a href="#business-card-drops"
          >long-term forms below</a
        > OR
      </li>
      <li>
        Are <em>very interested</em> (and a good match) for a specific opportunity
        with no time to fill out the long forms OR
      </li>
      <li>
        Were sent here because there's no long-term form for the opportunity
      </li>
    </ul>
    <p>As of August 2025, we're looking for:</p>
    <ul class="with-discs">
      <li>
        Writers for our codebases <code class="font-mono text-fujo-pink"
          >README.md</code
        >s
      </li>
      <li>
        Help planning and executing the launch of our new
        <a
          class="!text-fujo-pink"
          href="https://fujocoded.com/fandom-cookies-digital-pack"
          >Fandom Cookies Digital Pack</a
        >
      </li>
    </ul>
    <p>
      Make sure you check out <a href="/updates"
        >the latest edition of our newsletter</a
      > for the hiring news and job descriptions! We'll do our best to remove opportunities
      from here and the form as they get filled.
    </p>
    <div class="mt-2 text-center font-bold">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSfM0-bD_KygLQYpb0uDFE8a0EYFB5uuXRw_gjqTd8wayxmdPw/viewform"
        >Go to the "Hiring Right Now" form →</a
      >
    </div>
    <a href="#business-card-drops"
      ><h2 id="business-card-drops">Long-term Business Card Drops</h2></a
    >
    <div>
      These are the long-term forms for specific categories of contributors we
      recurringly seek to hire.
    </div>
    <ul>
      <li>
        <p class="text-pretty">
          <strong>✏️ Writers assemble!</strong> Do you want to help with our NPM
          articles? Or maybe, you want to help us <a
            href="https://www.fujoweb.dev/characters"
            >sell the lore behind our catboys (and beyond)</a
          > to the wider public? Our <a
            href="https://forms.gle/DensB2JHppK4A98M8">Writers Intake Form</a
          > is for you!
        </p>
      </li>
      <li>
        <p class="text-pretty">
          <strong>💻 WebDev Gigs incoming!</strong> There is <em>a lot</em> going
          on in the FujoVerse™ and many pages (like the one on <a
            href="https://www.fujoweb.dev/volume-0">FujoGuide Volume 0</a
          >) could use some TLC from entry-level HTML/CSS-wranglers. We also
          have a few other challenges at different levels we’ll be looking to
          take care of as we grow. <a href="https://forms.gle/HNMHCJ5N5XoV35Y27"
            >Join the fight here!</a
          >
        </p>
      </li>
      <li>
        <p class="text-pretty">
          <strong>🖼️ Art(ist) Archive!</strong> We’ve got some character art needs
          in the pipeline (don’t we always?), and we’d love to have even more artists
          on tap for when that gets firmed up—monsterfucking tendencies appreciated
          but not required. <a href="https://forms.gle/Cm2wq9numpBMoUZJA"
            >Add your info here!</a
          >
        </p>
      </li>
    </ul>

    <h2
      class="mb-8 text-center font-hatch text-[34px] font-medium italic text-fujo-pink"
    >
      None of these catch your eye?
    </h2>

    <p class="my-4 text-pretty text-center">
      Hear about future opportunities in
      <em class="shadow-fujo-pink"> our newsletter! ✨</em>
    </p>
    <p class="my-4 text-pretty">
      <SubscriptionForm />
    </p>
  </article>
</Layout>

<style>
  ul.with-discs {
    list-style: disc;
    padding-left: 40px;
    li {
      @apply mt-6;
    }
    li:not(:first-child) {
      @apply mt-1;
    }

    & + * {
      @apply mt-6;
    }
  }
</style>
