---
import ComingSoon from "../images/coming-soon.png";
import { Image } from "astro:assets";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>FujoCoded – Coming April 1st, 2024</title>
  </head>
  <body>
    <Image src={ComingSoon} alt="" />
  </body>
</html>
<style>
  body {
    background-color: #f6d880;
    display: flex;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  body img {
    max-width: 50%;
    height: auto;
  }
  * {
    box-sizing: border-box;
  }
</style>
