---
import Layout from "../layouts/Layout.astro";

const description =
  "FujoCoded LLC builds projects that make the internet weirder and kinder. Help us by supporting us on our Patreon and store!";
---

<Layout>
  <article class="rounded-xl bg-white drop-shadow-purple">
    <h1>FujoCoded's Privacy Policy: Hiring Forms</h1>

    <p>
      FujoCoded cares about your privacy, but to evaluate you for potential
      opportunities, we do need to collect and store some of your data. Here is
      exactly what we collect, why we do it, how they are used, and how you can
      request downloads and deletions of this data:
    </p>

    <ul>
      <li>
        <strong>Age Requirement</strong> Because our work may involve NSFW material,
        you must be 18 years or older to apply for our positions. We do not knowingly
        collect data from individuals under 18.
      </li>
      <li>
        <strong>What we collect</strong> Your professional profile (Email/Discord,
        Portfolio) and your work preferences, including turnaround times, what you’re
        willing to produce, experience, and your comfort with NSFW material.
      </li>
      <li></li>
      <li>
        <strong>Why we collect it</strong> To build a talent pool of contractors
        we can reach out to for future paid or volunteer projects, or to find candidates
        for currently open positions.
      </li>
      <li></li>
      <li>
        <strong>How it is used</strong> As need arises, your application will be
        reviewed by our internal team, select community volunteers, and contracted
        project leads assisting with recruitment. We may use third-party automated
        tools to assist in classifying, tagging, and organizing applications based
        on skills or preferences, so we can more easily identify relevant candidates
        for specific roles. All final decisions are made by humans.
      </li>
      <li></li>
      <li>
        <strong>Data Sharing</strong> We generally do not share this data. However,
        we may share your contact details/portfolio with our sister organization
        BobaBoard for their own volunteering opportunities <em>only if</em> you explicitly
        consented on the form, or if the form you filled was specifically about a
        BobaBoard position.
      </li>
      <li></li>
      <li>
        <strong>Retention</strong> We keep this archive for approximately 3 Years
        to keep you in the running for future gigs.
      </li>
    </ul>

    <p>
      To update your application, request a copy of your data, or ask us to
      delete your data entirely, you can contact MsBoba, the person running it
      all, <a href="mailto:contacts@fujocoded.com">at contacts@fujocoded.com</a>
      or Kayn [TODO], the one in charge of constructing some of these policies.
    </p>
  </article>
</Layout>
