---
import Browser from "../components/Browser.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <h1>Welcome to the FujoVerse™</h1>
    <div></div>
  </section>
</Layout>
