---
import Browser from "../components/Browser.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article class="rounded-xl bg-white">
    <h1>
      Enter the <em>FujoVerse</em>
    </h1>
    <p>
      FujoCoded, LLC is the culmination of the work we’ve been doing for the
      past four years. It collects various projects we’ve launched and more that
      we’re planning under the same banner. These projects, as well as the
      company’s mission, are focused on three pillars:
      <ul class="list-disc pl-6">
        <li>
          <strong>Education</strong>, which gives people the skills they need to
          be the change they want to see on the web.
        </li>
        <li>
          <strong>Software,</strong> which gives people the tools they need to make
          the changes they want to see.
        </li>
        <li>
          <strong>Community</strong>, which gives people the strength and
          support they need to see those changes through.
        </li>
      </ul>
    </p>
    <h2>The <em>FujoVerse™</em> ecosystem</h2>
    <p>
      We're building an ecosystem because the problem is multifaceted and you
      cannot really solve it with just a single tool.
    </p>
    <p>Our projects are in the following categories:</p>
    <ul class="list-disc pl-6">
      <li>
        <strong>Libraries</strong>, like AO3.js, that people can come strengthen
        their coding chops on or they can use for their own projects.
      </li>
      <li>
        <strong>Software,</strong> like BobaBoard, that fills needs not satisfied
        by the current web and also provides a training ground.
      </li>
      <li>
        <strong>Communities</strong>, like Fandom Coders, where people can find
        support .
      </li>
      <li>
        <strong>Education books and articles</strong>, like the ones from
        FujoCoded.
      </li>
      <li>
        <strong>Commerce</strong>, like RobinBoob and FujoBoard that help fund
        our work and create brand-loyalty among our supporters.
      </li>
    </ul>
  </article>
</Layout>
