---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import bobawip_color from "../images/bobawip_color.png";
import backerkit_just_launched from "../images/campaign/backerkit-just-launched.png";

const description =
  "FujoCoded LLC is building a new online storefront to support our projects. Help us build something exciting by backing us on Backerkit!";
---

<Layout description={description}>
  <article class="rounded-xl bg-white drop-shadow-purple">
    <h1>Support Us</h1>
    <p class="text-center text-3xl font-bold">
      Fund our work on <a href="https://www.patreon.com/fujocoded">Patreon</a>,
      and get some cool merch in
      <a href="https://store.fujocoded.com/">our new store</a>!
    </p>
    <Image
      src={bobawip_color}
      alt="Boba-tan wearing a construction helmet and digging a hole."
      class="mx-auto w-full max-w-36 pt-10"
    />
    <p class="text-center">
      More support initiatives are under construction. In the meantime, you can
      check out our original fundraising campaign <a
        href="https://www.backerkit.com/c/projects/fujocoded-llc/fujocoded-software-and-education-for-a-better-web?preview_token=pRP66u0ywMO&ref=website"
        class="no-underline"
        >on Backerkit
      </a>.
    </p>
  </article>
</Layout>
