---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import bobawip_color from "../images/bobawip_color.png";
import patreon from "../images/patreon.jpeg";

const description =
  "FujoCoded LLC builds projects that make the internet weirder and kinder. Help us by supporting us on our Patreon and store!";
---

<Layout description={description} preview={patreon.src}>
  <article class="rounded-xl bg-white drop-shadow-purple">
    <h1>Support Us Today!</h1>
    <p class="text-center text-3xl font-bold">
      Fund our work on <a href="https://www.patreon.com/fujocoded">Patreon</a>,
      and get some cool merch in
      <a href="https://store.fujocoded.com/">our new store</a>!
    </p>
    <figure>
      <a href="https://www.patreon.com/fujocoded"
        ><Image src={patreon} alt="TODO" class="mx-auto w-full pt-8" /></a
      >
      <figcaption class="mb-4 mt-2 text-sm">
        what your support allows us to do
      </figcaption>
    </figure>
    <Image
      src={bobawip_color}
      alt="Boba-tan wearing a construction helmet and digging a hole."
      class="mx-auto w-full max-w-36 pt-10"
    />
    <p class="text-pretty text-center">
      Curious about our origins? Check out our seed fundraising campaign <a
        href="https://www.backerkit.com/c/projects/fujocoded-llc/fujocoded-software-and-education-for-a-better-web?preview_token=pRP66u0ywMO&ref=website"
        class="no-underline"
        >on Backerkit
      </a>.
    </p>
  </article>
</Layout>
