---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!--   <script
    src="https://www.paypal.com/sdk/js?client-id=AcTlVdT0tmCUP45F7DbEg1y4_neQnI8EEruw6DKCZgl6nYFVF4TmFQmeijreym9V-KYZSKs4qnOIoCR4&components=buttons"
  ></script> -->
  <script>
    import { type PayPalNamespace, loadScript } from "@paypal/paypal-js";

    const button = document.querySelector("#test") as HTMLElement;

    console.log(button);

    let payPalPromise: Promise<PayPalNamespace | null> | null = null;

    const DEV_PAYPAL_PLAN_ID = "P-1T805503J47278516MUYD2NA";
    const DEV_PAYPAL_CLIENT_ID =
      "AcTlVdT0tmCUP45F7DbEg1y4_neQnI8EEruw6DKCZgl6nYFVF4TmFQmeijreym9V-KYZSKs4qnOIoCR4";

    let paypal: PayPalNamespace;

    if (!window.paypal && !payPalPromise) {
      payPalPromise = loadScript({
        clientId: DEV_PAYPAL_CLIENT_ID,
        vault: true,
        intent: "subscription",
      });
    }

    await payPalPromise;

    paypal = window.paypal!;

    console.log(paypal);

    if (paypal && paypal.Buttons) {
      paypal
        .Buttons({
          style: {
            shape: "pill",
            color: "gold",
            layout: "vertical",
            label: "subscribe",
          },
          fundingSource: "paypal",
          createSubscription: (_, actions) => {
            console.log("creating subscription for #test");
            return actions.subscription.create({
              plan_id: DEV_PAYPAL_PLAN_ID,
              quantity: button!.dataset.quantity,
              application_context: {
                shipping_preference: "NO_SHIPPING",
                return_url: "/support-us",
                cancel_url: "/support-us",
              },
            });
          },
          onApprove: async (data) => {
            window.location.href = "/support-us/success";
          },
        })
        .render(button);
    }
  </script>
  <article class="rounded-xl bg-white drop-shadow-purple">
    <h1>Testing</h1>
    <div data-quantity="3" style={{ colorScheme: "none" }} id="test"></div>
  </article>
</Layout>

<style>
  #test {
    border: 2px solid red;
    min-height: 100px;
  }
</style>
