---
import Browser from "../components/Browser.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <div class="mt-[30px]">
      <Browser title="title for bottom window">
        <img slot="front" class="w-[500px] h-auto" src="/og-image.png" />
      </Browser>
    </div>
    <h2>A Better Web <em>Together</em></h2>
    <div>
      <p>
        From books to communities, from open source JavaScript libraries to
        full-fledged software projects, FujoCoded creates tools and occasions
        for fujoshi (& friends) to take control of their online world.
      </p>
      <a href="/projects">About our projects</a>
    </div>
  </section>
  <section>
    <Browser title="title for bottom window">
      <img slot="front" class="w-[500px] h-auto" src="/og-image.png" />
    </Browser>
    <h2>Shape the <em>Next</em> Web</h2>
    <div>
      <p>
        A new web is coming! Supported by years of experience working within fan
        communities (and some deep technical chops), our work aims to change who
        can join the conversation about the online spaces of the future.
      </p>
      <a href="/about">About us and our mission</a>
    </div>
  </section>
  <style>
    section {
      width: 300px;
      color: transparent;
    }
  </style>
</Layout>
