---
import { Image } from "astro:assets";
import Git from "../images/tiny-git.png";
import { Icon } from "astro-icon/components";
---

<div class="git fixed bottom-1 right-1 z-10">
  <a href="/TODO"
    ><div
      class="bubble absolute right-[135px] flex flex-col items-center rounded-md border-2 border-black bg-white px-4 py-2"
    >
      <div class="bg-kickstarter-green rounded-full p-2">
        <Icon class="text-white" name="simple-icons:kickstarter" />
      </div>
      <!-- <a class="" href="TODO">
      <div class="text-nowrap font-hatch text-sm">Support us!</div></a
    > -->
    </div>
  </a>
  <Image src={Git} alt="Corner buddy" />
</div>

<style>
  .git {
    filter: drop-shadow(2px 2px 2px #00000077);
  }
  div img {
    width: 130px;
  }

  .bubble:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: white;
    border-width: 4px;
    margin-top: -4px;
  }
  .bubble:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    border-left-color: black;
    border-width: 6px;
    margin-top: -6px;
  }
  /* a :global(svg) {
    color: white;
  } */
</style>
