---
import { Image } from "astro:assets";
import Socials from "./Socials.astro";
import ShieldWhite from "../images/shield-white.png";
---

<footer
  class="z-10 flex flex-col items-center pb-8 font-macho text-lg text-fujo-purple"
>
  <Image
    class="h-auto w-[80px] drop-shadow-sm"
    src={ShieldWhite}
    alt="Shield"
  />
  <div class="pb-4">Copyright © {new Date().getFullYear()} FujoCoded LLC</div>
  <div class="opacity-75"><Socials /></div>
  <konami-code>
    <template class="button-template">
      <button></button>
    </template>

    <style>
      konami-code button {
        width: 50px;
        height: 50px;
        background-color: red;
      }
      konami-code button.hit {
        background-color: green;
      }

      konami-code.triggered button {
        display: none;
      }
      konami-code.triggered::after {
        content: "congratulations!";
      }

      konami-code button.arrowup::after {
        content: "↑";
      }
      konami-code button.arrowdown::after {
        content: "↓";
      }
      konami-code button.arrowleft::after {
        content: "←";
      }
      konami-code button.arrowright::after {
        content: "→";
      }
      konami-code button.keya::after {
        content: "A";
      }
      konami-code button.keyb::after {
        content: "B";
      }
    </style>
  </konami-code>
</footer>

<script>
  import { registerKonamiCode } from "../components/KonamiCode";

  registerKonamiCode();
</script>
