---
import { getCollection } from "astro:content";

const sponsors = await getCollection("sponsors");
---

<dialog
  class="sponsors-hall fixed bottom-0 left-0 right-0 top-0 z-50 flex h-dvh w-full justify-center bg-transparent"
>
  <button class="close absolute right-0 top-0">Close me</button>
  <div
    class="background isolate z-50 mb-2 mt-28 flex w-4/5 justify-center rounded-xl border border-white bg-white/50 px-2 py-4 shadow-sm backdrop-blur-lg backdrop-filter"
  >
    <div
      class="text-nyancat-blue flex w-full flex-col text-center font-zeitung shadow-white drop-shadow-sm"
    >
      <div>FujoCoded LLC</div>
      <div>Hall of Sponsors</div>
      <div class="mb-2 max-h-full w-full overflow-y-scroll">
        {Array.apply(null, Array(1000)).map((sponsor) => <div>{"hello"}</div>)}
      </div>
    </div>
  </div>

  <style>
    dialog:not([open]) {
      display: none;
    }
    .sponsors-hall::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @apply bg-fujo-blue opacity-50;
      z-index: -1;
    }
  </style>

  <script>
    import { KonamiTriggeredEventCode } from "../components/KonamiCode";

    let savedOverlow = "";
    document.addEventListener(KonamiTriggeredEventCode, () => {
      console.log("The event was triggered");
      document.querySelector(".sponsors-hall")?.setAttribute("open", "true");
      savedOverlow = document.body.style.overflow;
      document.body.style.overflow = "hidden";
    });

    document
      .querySelector(".sponsors-hall button")
      ?.addEventListener("click", () => {
        document.querySelector(".sponsors-hall")?.removeAttribute("open");
        document.body.style.overflow = savedOverlow;
      });
  </script>
</dialog>
