---
import { readFileSync } from "node:fs";

const lemonLogoSvg = readFileSync("./src/images/lemon-logo.svg", {
  encoding: "utf8",
});
const llcSvg = readFileSync("./src/images/LLC.svg", {
  encoding: "utf8",
});

const wordLogoSvg = readFileSync("./src/images/word-logo.svg", {
  encoding: "utf8",
});
---

<div class="hanging-container">
  <div class="lemon">
    <Fragment set:html={lemonLogoSvg} />
  </div>
  <div class="logo">
    <Fragment set:html={wordLogoSvg} />
  </div>
  <div class="llc">
    <Fragment set:html={llcSvg} />
  </div>
</div>

<style>
  .hanging-container {
    position: fixed;
    width: 200px;
    height: 200px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    --rope-color: #c6c4c39e;
  }
  .lemon {
    width: 120px;
    position: absolute;
    height: auto;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .lemon :global(svg) {
    width: 100%;
    height: auto;
  }
  .lemon::before {
    content: "";
    position: absolute;
    top: -1000px;
    bottom: 59px;
    left: 15px;
    width: 2px;
    background-color: var(--rope-color);
    z-index: -1;
  }
  .lemon::after {
    content: "";
    position: absolute;
    top: -1000px;
    bottom: 59px;
    right: 18px;
    width: 2px;
    background-color: var(--rope-color);
    z-index: -1;
  }

  .logo {
    width: 200px;
    position: absolute;
    height: auto;
    top: 126px;
    left: 50%;
    transform: translateX(-50%);
  }
  .logo :global(svg) {
    width: 100%;
    height: auto;
    transform: rotate(356deg);
  }
  .logo::before {
    content: "";
    position: absolute;
    top: -1000px;
    bottom: 25px;
    left: 21px;
    width: 2px;
    background-color: var(--rope-color);
    z-index: -1;
  }
  .logo::after {
    content: "";
    position: absolute;
    top: -1000px;
    bottom: 47px;
    right: 13px;
    width: 2px;
    background-color: var(--rope-color);
    z-index: -1;
  }
  .llc {
    width: 53px;
    position: absolute;
    height: auto;
    top: 169px;
    right: 7px;
  }
  .llc :global(svg) {
    width: 100%;
    height: auto;
    transform: rotate(2deg);
  }
  .llc::before {
    content: "";
    position: absolute;
    top: -11px;
    bottom: 25px;
    left: 10px;
    width: 2px;
    background-color: var(--rope-color);
    z-index: -1;
  }
  .llc::after {
    content: "";
    position: absolute;
    top: -17px;
    bottom: 22px;
    right: 13px;
    width: 2px;
    background-color: var(--rope-color);
    z-index: -1;
  }
</style>
