---
import lemonLogoSvg from "../images/lemon-logo.svg?raw";
import llcSvg from "../images/LLC.svg?raw";
import wordLogoSvg from "../images/word-logo.svg?raw";
---

<a class="hanging-container z-50 hover:cursor-pointer" href="/">
  <div class="lemon">
    <Fragment set:html={lemonLogoSvg} />
  </div>
  <div class="logo">
    <Fragment set:html={wordLogoSvg} />
  </div>
  <div class="llc">
    <Fragment set:html={llcSvg} />
  </div>
</a>

<style>
  .hanging-container {
    position: fixed;
    width: 200px;
    height: 200px;
    top: 0;
    left: 50%;
    transform: translateX(calc(-50% - 5px));
    --rope-color: #d9d9d944;
    --lemon-final-position: -400px;
    --logo-final-position: -600px;
    --container-final-position: -600px;
  }

  .hanging-container {
    animation: container-pullup linear both;
    animation-timeline: scroll(root);
    animation-range: 0px 1300px;
  }

  .lemon {
    animation: pullup linear both;
    animation-timeline: scroll(root);
    animation-range: 500px 1300px;
  }

  .logo,
  .llc {
    animation: pullup linear both;
    animation-timeline: scroll(root);
    animation-range: 0px 1300px;
  }

  .lemon {
    width: 80px;
    position: absolute;
    height: auto;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    --translate-x: -50%;
    --final-position: var(--lemon-final-position);
    --color-neon-glow: #ffbf00;
    --color-neon-fill: white;
    --color-neon-inner-glow: #f6d880;
  }
  .lemon :global(svg) {
    width: 100%;
    height: auto;
  }
  .lemon::before {
    content: "";
    position: absolute;
    top: -1000px;
    bottom: 67px;
    left: 15px;
    width: 2px;
    background-color: var(--rope-color);
    z-index: -1;
  }
  .lemon::after {
    content: "";
    position: absolute;
    top: -1000px;
    bottom: 42px;
    right: 18px;
    width: 2px;
    background-color: var(--rope-color);
    z-index: -1;
  }

  .logo {
    width: 190px;
    position: absolute;
    height: auto;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    --translate-x: -50%;
    --final-position: var(--logo-final-position);
    --color-neon-glow: #d529ff;
    --color-neon-fill: #d529ff;
    --color-neon-inner-glow: #d529ff;
    --stroke-strength: 1.5;
    --glow-strength: 5.4;
    --inner-glow-strength: 0.3;
  }
  .logo :global(svg) {
    width: 100%;
    height: auto;
    transform: rotate(356deg);
  }
  .logo::before {
    content: "";
    position: absolute;
    top: -1000px;
    bottom: 25px;
    left: 21px;
    width: 2px;
    background-color: var(--rope-color);
    z-index: -1;
  }
  .logo::after {
    content: "";
    position: absolute;
    top: -1000px;
    bottom: 47px;
    right: 13px;
    width: 2px;
    background-color: var(--rope-color);
    z-index: -1;
  }
  .llc {
    width: 45px;
    position: absolute;
    height: auto;
    top: 136px;
    right: 7px;
    --translate-x: 0;
    --final-position: var(--logo-final-position);
    --color-neon-glow: #4360f7;
    --color-neon-fill: #4360f7;
    --color-neon-inner-glow: #4360f7;
    --stroke-strength: 1.5;
    --glow-strength: 5.4;
    --inner-glow-strength: 0.3;
  }
  .llc :global(svg) {
    width: 100%;
    height: auto;
    transform: rotate(2deg);
  }
  .llc::before {
    content: "";
    position: absolute;
    top: -13px;
    bottom: 15px;
    left: 6px;
    width: 2px;
    background-color: var(--rope-color);
    z-index: -1;
  }
  .llc::after {
    content: "";
    position: absolute;
    top: -13px;
    bottom: 13px;
    right: 10px;
    width: 2px;
    background-color: var(--rope-color);
    z-index: -1;
  }

  @keyframes pullup {
    from {
      transform: translate(var(--translate-x, 0), 0px);
    }
    to {
      transform: translate(var(--translate-x, 0), var(--final-position));
    }
  }

  @keyframes container-pullup {
    from {
      opacity: 1;
      transform: translate(-50%, 0px) translateX(-5px);
    }
    to {
      opacity: 0;
      transform: translate(-50%, var(--container-final-position))
        translateX(-5px);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .hanging-container,
    .lemon,
    .logo,
    .llc {
      animation: none;
    }
  }
</style>

<script>
  import "scroll-timeline-polyfill/dist/scroll-timeline.js";
</script>
