---

---

<div>
  <h2>Our mission</h2>
  <p>
    Empowering fujoshi and other online subcultures to shape their web through
    software, education and community collaboration.
  </p>
  <p>Since 2024.</p>
</div>
