---

---

<div
  class="relative mx-auto mb-16 mt-4 flex max-w-[600px] flex-col gap-1 rounded-xl bg-gradient-to-b from-[#260F56] to-[#4D2E91] p-5 font-zeitung"
>
  <h2 class="text-shadow-pink m-0 font-zeitung text-xl not-italic">
    # Our mission
  </h2>
  <p class="text-fujo-green">
    > Empowering fujoshi and other online subcultures to shape their web through
    software, education and community collaboration.
  </p>
  <p class="m-0 text-white">Since 2024.</p>
</div>

<style>
  div::before {
    /* background: linear-gradient(180deg, #ff21e9 0%, #4360f7 100%); */
    background: radial-gradient(circle at center, #ff21e9, #4360f7);
    background-size: 500% 500%;
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    /* @apply rounded-xl; */
    border-radius: calc(0.75rem + 1px);
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  h2 {
    text-shadow:
      1px 1px 2px #ff21e933,
      -1px 1px 2px #ff21e933,
      -1px -1px 2px #ff21e933,
      1px -1px 2px #ff21e933;
  }
  p:first-of-type {
    text-shadow:
      1px 1px 3px #a7ff9033,
      -1px 1px 3px #a7ff9033,
      -1px -1px 3px #a7ff9033,
      1px -1px 3px #a7ff9033;
  }
  p:nth-of-type(2) {
    text-shadow:
      1px 1px 3px #ffffff33,
      -1px 1px 3px #ffffff33,
      -1px -1px 3px #ffffff33,
      1px -1px 3px #ffffff33;
  }
</style>
