---
import { readFileSync } from "node:fs";
import HangingLogo from "./HangingLogo.astro";
import { Image } from "astro:assets";

const lemonLogoSvg = readFileSync("./src/icons/lemon-logo.svg", {
  encoding: "utf8",
});
---

<a href="/"><HangingLogo /></a>
<nav
  class="sticky items-center mx-auto top-8 flex w-11/12 max-w-[700px] justify-around
       bg-white border-2 border-fujo-blue rounded-full font-hatch text-fujo-purple text-lg z-50
       transform -translate-y-1/2 p-2"
>
  <a class="lemon" href="/" set:html={lemonLogoSvg} />
  <a href="/projects">Projects</a>
  <a href="/about">About</a>
  <a href="/fujoshi">Fujoshi</a>
  <a href="/updates">Updates</a>
  <a href="/support">Support us</a>
</nav>

<style>
  nav {
    animation: pad linear both;
    animation-timeline: scroll();
    animation-range: entry 0% exit 5%;
  }
  .lemon {
    position: absolute;
    left: 20px;
    animation: appear linear both;
    animation-timeline: scroll();
    animation-range: entry 0% exit 5%;
    --color: theme("colors.fujo-purple");
  }

  .lemon :global(svg) {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  @keyframes pad {
    from {
      padding-left: 0;
    }
    to {
      padding-left: 30px;
    }
  }
  @keyframes appear {
    from {
      width: 0;
      opacity: 0;
    }
    to {
      width: 20px;
      opacity: 1;
    }
  }
</style>
