---
import HangingLogo from "./HangingLogo.astro";
---

<nav
  class="fixed items-center left-1/2 top-7 flex w-11/12 max-w-[800px] -translate-x-1/2 transform justify-evenly bg-lemon-dark-transparent border-2 border-lemon-dark rounded-full font-hatch text-white text-lg font-bold"
>
  <a href="/projects" class="text-white">Projects</a>
  <a href="/about">About</a>
  <a class="inline-block w-[200px] h-[50px] relative" href="/"
    ><HangingLogo /></a
  >
  <a href="/fujoshi">Fujoshi</a>
  <a href="/updates">Updates</a>
</nav>
