---
import HangingLogo from "./HangingLogo.astro";
---

<a href="/"><HangingLogo /></a>
<nav
  class="sticky items-center mx-auto top-1 flex w-11/12 max-w-[800px] justify-evenly bg-lemon-dark-transparent border-2 border-lemon-dark rounded-full font-hatch text-white text-lg font-bold z-50"
>
  <a href="/projects" class="text-white">Projects</a>
  <a href="/about">About</a>
  <a href="/fujoshi">Fujoshi</a>
  <a href="/updates">Updates</a>
</nav>
