---
import { Icon } from "astro-icon/components";
---

<div class="flex justify-center gap-4 pb-4 text-inherit">
  <a
    href="https://github.com/FujoWebDev"
    class="hover:text-fujo-pink hover:opacity-100"
    ><Icon name="simple-icons:github" /></a
  >
  <a
    href="https://twitter.com/fujoc0ded"
    class="hover:text-fujo-pink hover:opacity-100"
    ><Icon name="simple-icons:twitter" /></a
  >
  <a
    href="https://www.tumblr.com/fujocoded"
    class="hover:text-fujo-pink hover:opacity-100"
    ><Icon name="simple-icons:tumblr" /></a
  >
  <a
    href="https://bsky.app/profile/fujocoded.bsky.social"
    class="hover:text-fujo-pink hover:opacity-100"
    ><Icon name="simple-icons:bluesky" /></a
  >
  <a
    href="https://blorbo.social/@fujocoded"
    class="hover:text-fujo-pink hover:opacity-100"
    ><Icon name="simple-icons:mastodon" /></a
  >
  <a
    href="https://fujocoded.dreamwidth.org/"
    class="hover:text-fujo-pink hover:opacity-100"><Icon name="dreamwidth" /></a
  >
  <a
    href="mailto:contacts@fujocoded.com"
    class="hover:text-fujo-pink hover:opacity-100"><Icon name="email" /></a
  >
</div>
