---
type Props = {
  tags: string[];
  title?: string;
}

const { tags, title } = Astro.props;
---

<div class="flex flex-wrap gap-2">
  {title && <h4 class="font-semibold">{title}:</h4>}
  <ul class="flex flex-wrap gap-2">
    {tags.map((tag) => (
      <li
        class="rounded-md bg-fujo-purple text-white px-2.5 pb-1 m-0"
        data-tag={tag}
      >
        {tag}
      </li>
    ))}
  </ul>
</div>