---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"fujin">["data"];

const { name, avatar, description } = Astro.props;
---

<div
  class="rounded-xl p-4 shadow-md text-fujo-purple text-lg flex gap-4 items-center"
> 
<Image class="max-w-[100px] block h-auto rounded-full" src={avatar} alt={name} />
  <div class="flex flex-col justify-center"><h3 class="font-hatch text-xl text-fujo-pink">
    {name}
  </h3>
  <p>{description}</p>
  </div>
</div>
